:root {
  --primary: #fcfcfc;
  --secondary: #2ac089;
  --light-black: #444f56;
  --dark: #000000;
  --blue: #28c5de;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif, serif;
}

main {
  width: 100%;
  position: relative;
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 3.5vw;
    position: fixed;
    top: 0%;
    box-shadow: 1px 1px 20px 1px var(--dark);
    background-color: var(--primary);
    z-index: 10000;

    .left {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        text-decoration: none;
        color: var(--dark);
        font-size: 1.2vw;
        padding: 0 1vw;
        font-weight: 600;
        text-transform: uppercase;

        &:hover,
        &:active {
          color: var(--light-black);
        }
      }

      select {
        border: none;
        width: 5.2vw;
        font-size: 1.2vw;
        font-weight: 600;
        color: var(--light-black);
        margin: 0 1vw;

        &:focus-visible {
          border: none;
          outline: none;
        }

        &:hover,
        &:active {
          border: none;
          color: var(--dark);
        }

        option {
          &:nth-child(1) {
            display: none;
          }
        }
      }
    }

    .center {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 2.5vw;
          margin: 0 1vw;
        }
        span {
          font-size: 2.5vw;
          font-weight: 700;
          color: var(--light-black);
          text-transform: uppercase;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        font-size: 1.2vw;
        color: var(--light-black);

        &:hover {
          cursor: pointer;
          color: var(--dark);
        }
      }

      button {
        border: 0.5px solid var(--light-black);
        padding: 1vw 1.5vw;
        margin: 0 1vw;
        border-radius: 50px;
        font-size: 1.2vw;
        box-shadow: 0px 1px 1px 0px var(--light-black);

        &:hover,
        &:active {
          box-shadow: 0px 2px 2px 1px var(--light-black);
          cursor: pointer;
        }

        &:nth-child(2) {
          background-color: var(--primary);
        }

        &:nth-child(3) {
          background-color: var(--blue);
          color: var(--primary);
        }
      }
    }
  }

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    margin-top: 8.5%;

    .left_ {
      width: 75%;
      background-color: var(--primary);
      padding: 0 7vw;

      .content {
        width: 70%;

        p {
          &:nth-child(1) {
            font-size: 3vw;
            font-weight: 600;
            color: var(--dark);
          }
          &:nth-child(2) {
            font-size: 3vw;
            font-weight: 600;
            color: var(--blue);
          }
          &:nth-child(3) {
            margin-top: 20px;
            font-size: 2vw;

            span {
              font-weight: 600;
            }
          }
        }

        button {
          border-radius: 50px;
          margin-top: 2vw;
          padding: 1.2vw 2.5vw;
          border: none;
          background-color: var(--blue);
          color: var(--primary);
          font-size: 1.2vw;
          font-weight: 600;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 2px 3px 1px rgba(128, 128, 128, 0.444);
          }
        }
      }
    }

    .right_ {
      width: 25%;
      height: inherit;
      background-color: var(--blue);
    }
  }

  .fav {
    padding: 5vw 3vw;
    background-color: #f6f7fb;

    p {
      font-size: 2vw;
      text-align: center;
      font-weight: 600;
    }

    .list-item {
      display: flex;
      align-self: center;
      justify-content: space-between;
      margin-top: 2.5vw;

      .item {
        display: block;
        height: 40px;
        background: center center no-repeat;
        filter: invert(81%) sepia(18%) saturate(155%) hue-rotate(175deg)
          brightness(93%) contrast(82%);
      }

      .item1 {
        width: 110px;
        background-image: url(./masthead-guardian.svg);
      }

      .item2 {
        height: 48px;
        width: 127.056px;
        background-image: url(./masthead-vogue.svg);
      }

      .item3 {
        width: 190.588px;
        background-image: url(./masthead-newsweek.svg);
      }

      .item4 {
        width: 72.94px;
        background-image: url(./masthead-gq.svg);
      }

      .item5 {
        background-size: contain;
        width: 122.352px;
        background-image: url(./masthead-forbes.svg);
      }
    }
  }

  .hero1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    .container {
      width: 70%;
      padding: 0 10vw;

      p {
        &:nth-child(1) {
          font-size: 1.5vw;
          color: var(--blue);
          font-weight: 600;
        }
        &:nth-child(2) {
          font-size: 3.5vw;
          color: var(--dark);
          font-weight: 600;
          margin-top: 1vw;
        }
        &:nth-child(3) {
          font-size: 1.5vw;
          color: var(--light-black);
          margin-top: 1.2vw;
          line-height: 1.5;
        }
      }

      button {
        border-radius: 50px;
        margin-top: 2vw;
        padding: 1.2vw 2.5vw;
        background-color: var(--primary);
        color: var(--blue);
        font-size: 1.2vw;
        font-weight: 600;
        border: 0.5px solid lightgray;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 2px 3px 1px rgba(128, 128, 128, 0.444);
        }
      }
    }
  }

  .hero2 {
    p {
      &:nth-child(1) {
        font-size: 2.5vw;
        font-weight: 600;
        padding: 0 3.5vw;
      }
    }
    .one_two {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3.5vw;
      p {
        &:nth-child(1) {
          margin-top: 1.5vw;
          font-size: 1.5vw;
          font-weight: 600;
        }
      }
      a {
        font-size: 1.2vw;
        text-decoration: none;
        color: var(--light-black);
        font-weight: 600;

        &:hover {
          color: lightgray;
        }
      }
    }
    #crousal_1 {
      width: 100%;
      height: 10vh;
      display: block;
      margin: 3vw 0;

      @media (max-width: 768px) {
        .carousel-inner .carousel-item > div {
          display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
          display: block;
        }
      }

      .carousel-inner .carousel-item.active,
      .carousel-inner .carousel-item-start,
      .carousel-inner .carousel-item-next,
      .carousel-inner .carousel-item-prev {
        display: flex;
        // transition-duration: 10s;
      }

      /* display 4 */
      @media (min-width: 768px) {
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next,
        .carousel-item-next:not(.carousel-item-start) {
          transform: translateX(25%) !important;
        }

        .carousel-inner .carousel-item-left.active,
        .carousel-item-prev:not(.carousel-item-end),
        .active.carousel-item-start,
        .carousel-item-prev:not(.carousel-item-end) {
          transform: translateX(-25%) !important;
        }

        .carousel-item-next.carousel-item-start,
        .active.carousel-item-end {
          transform: translateX(0) !important;
        }

        .carousel-inner .carousel-item-prev,
        .carousel-item-prev:not(.carousel-item-end) {
          transform: translateX(-25%) !important;
        }
      }
    }
  }
}
.card img {
  height: 17vw;
}
